body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header {
    background-image: url('pexels-elijahsad-3979153.jpg');
    background-size: cover;
    background-position: center;
    padding: 1em;
}

header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

header > div > a {
    text-decoration: none;
    color: white;
}

form {
    display: flex;  
}


form > input {
    flex-grow: 1;
    border-top-left-radius: 15px;
}



form > button {
    border-bottom-right-radius: 15px;
    padding-left: 1.5em;
    padding-right: 1.5em;
}


form > input, 
form > button[type='submit'] {
    border: none;
    background: white;
    padding: 0.8em;
}

p {
    margin: 0;
}

.movie-container {
    width: 90%;
    margin: 2em auto 0;
    display: flex;
    font-size: 0.8rem;
    align-items: center;
    /* justify-content: space-between; */
}

.poster > img {
    width: 8em;
}

.movie-title {
    display: flex;
    align-items: center;
}

h3 {
    margin-right: 1em;
}

.movie-length-genre {
    display: flex;
    font-size: 90%;
    align-items: center;
}

.movie-length-genre > P:first-child {
    margin-right: 0.4em;
} 

.movie-length-genre > button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0.5em 0.2em;
    margin-left: 0.5em;
} 
.movie-length-genre > button:hover {
    box-shadow: 0 0 1px black;
}

.movie-details {
    font-size: 0.8rem;
    /* margin-left: 1em; */
    padding: 10px;
    flex-grow: 1;
}

.movie-describtion {
    margin-top: 0.5em;
    color: rgb(51, 51, 51);
    font-size: 90%;
}

@media (min-width: 600px) {
    .body-container{
        max-width: 1200px;
        margin: 0 auto;
    } 
}