body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-container {
    max-width: 340px;
}

header {
    background-image: url('path/to/your/image.jpg');
    background-size: cover;
    background-position: center;
    padding: 1em;
}

header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

header > div > a {
    text-decoration: none;
    color: white;
}